@import "./src/scss/vars";

.title {
  font-weight: 500;
  font-size: 47px;
  line-height: 55px;
  text-align: center;
  color: $black1;
  margin-top: 0;
  margin-bottom: 5px;

  &__desc {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $black1;
    margin-top: 0;
    margin-bottom: 89px;
  }
}
