.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 374px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
}
