@import "vars";

.btn {
  background-color: $black1;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: $secondFont;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: opacity .3s linear;

  &:hover {
    opacity: .85;
    transition: opacity .3s linear;
  }

  &:disabled {
    background-color: $gray1;
    cursor: no-drop;
    transition: background-color .3s linear;
  }

  &:disabled:hover {
    background-color: $gray4;
    transition: background-color .3s linear;
  }
}
