@import "vars";

.btn {
  background-color: $black1;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: $secondFont;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;



  &:disabled {
    background-color: $gray1;
    cursor: no-drop;
  }
}
