@import "vars";

.eye {
  cursor: pointer;
  stroke: $gray3;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke .3s linear;

  &:not([class="eye--on"]):hover {
    stroke: $black1;
    transition: stroke .3s linear;
  }

  &--on {
    stroke: $black1;
    transition: stroke .3s linear;
  }
}
