$secondFont: 'SF Compact Display', 'Arial', sans-serif;

$black1: #1C1C1C;
$black2: #20201F;
$black2Hover: #282828;

$gray1: #DEDEDE;
$gray2: #939292;
$gray3: #C4C4C4;
$gray4: #d0d0d0;

$red: #D00000;
