@import "./src/scss/vars";

.form {
  &__field {
    position: relative;
    margin-bottom: 25px;
  }

  &__field--agreement {
    position: relative;
    margin-top: 38px;
    margin-bottom: 34px;
  }

  &__field:last-child {
    margin-bottom: 0;
  }

  &__field--text-center {
    text-align: center;
  }

  &__label--absolute,
  &__switch-input-type {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__label--absolute {
    color: $gray2;
    left: 0;
    font-family: $secondFont;
    font-size: 15px;
    line-height: 18px;
    transition: top .3s linear;
  }

  &__switch-input-type {
    background-color: transparent;
    border: none;
    right: 2px;
    padding: 0;
    top: 60%;
  }

  &__input {
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $gray1;
    padding: 9px;
    width: 100%;
    transition: border .3s linear;
  }

  &__input:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 1px solid $black1;
    transition: border .3s linear;
  }

  &__input:focus + .form__label--absolute {
    font-size: 12px;
    line-height: 14px;
    top: 0;
    transition: top .3s linear;
  }

  &__input:not([value=""]) + .form__label--absolute {
    font-size: 12px;
    line-height: 14px;
    top: 0;
    transition: top .3s linear;
  }

  &__input:invalid {
    box-shadow: none;
  }

  &__input:not([value=""]):required:invalid {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $red;
    box-shadow: none;
    color: $red;
    outline: none;
  }

  &__input--agreement {
    width: auto;
  }

  &__input--agreement:checked + .form__label--agreement:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
    margin: auto;
    width: 11px;
    height: 11px;
    background: $black1;
  }

  &__label--agreement {
    cursor: pointer;
    font-family: $secondFont;
    font-size: 13px;
    line-height: 16px;
    padding-left: 30px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 17px;
      height: 17px;
      border: 1px solid $gray1;
    }
  }

  &__btn {
    width: 100%;
    box-sizing: border-box;
  }

  &__question {
    color: $gray2;
    font-family: $secondFont;
    font-size: 17px;
    line-height: 20px;
  }

  &__link {
    color: $black2;
    font-family: $secondFont;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    padding-left: 11px;
    text-decoration: none;
  }

  &__link:hover {
    color: $black2Hover;
    text-decoration: underline;
  }
}
